{#
 # Cloudflare Turnstile field template for PrestaShop 9.x Symfony forms
 #}
<div class="pxd-cloudflare-turnstile mb-3">
    <div class="cf-turnstile"
         data-sitekey="{{ data.sitekey }}"
         data-theme="{{ data.theme }}"
         data-action="{{ data.action }}"></div>
</div>
